html {
  background-color: var(--background-color);
  color: var(--text-dark-primary);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.edit-mode-button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  gap: 0.5rem;
}

.page-container {
  margin: 0.5rem 0 0 0;
}

/* Desktops */
@media (min-width: 1280px) {
  .page-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}


.background {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: inline;
  position: absolute;
  z-index: -1;
  display: none;
}