.navContainer {
    background-color: var(--navbar-color);
    display: flex;
}

.navContainer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-light-primary);
}

.navLinks {
    display: flex;
    width: 100%;
    list-style: none;
    /* background-color: lightblue; */
    gap: 1rem;
    align-items: center;
    margin: 0px 1rem 0px 1rem;
    padding: 0;
}

.navLogo {
    width: auto;
    height: 2.5rem;
    margin-left: 0.5rem;
    padding: 0.25rem 0;
}

.navbarRight {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}