.navContainer {
    background-color: pink;
    display: flex;
}

.navContainer a {
    text-decoration: none;
    color: black;
}

.navLinks {
    display: flex;
    list-style: none;
    background-color: lightblue;
    gap: 1rem;
    align-items: center;
    margin: 0px 1rem 0px 1rem;
    padding: 0;
}