.container {
    display: flex;
    row-gap: 0.25rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
}

.display-field-label {
    white-space: nowrap;
}

.displayFieldMain {
    font-size: 1rem;
    margin: 0;
}

.displayFieldSub {
    font-size: 0.9rem;
    margin-top: 0.25rem;
}

.contentContainer {
    display: flex;
    flex-direction: column;
}

.contentContainer p {
    margin: 0;
}