.relationContainer {
    padding: 0;
}

.relationContainer > h2 {
    text-align: center;
    margin: 1rem 0 0.25rem 0;
}

.relationListContainer {
    border: solid 1px black;
    height: 5rem;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

/* Optional: style the scrollbar for better visibility */
.relationListContainer::-webkit-scrollbar {
    width: 12px;
  }
  
  .relationListContainer::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  
  .relationListContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }


.relationList {
    list-style: none;
    padding: 0.25rem;
    margin: 0;
    text-align: center;
}

.relationList li {
    padding: 0 0.5rem 0 0.5rem;
    margin-bottom: 0.5rem;
    background-color: lightgrey;
}

/*
.relationList li > div {
    text-align: end;
}
*/

.relationList a {
    text-decoration: none;
}

.relation {
    text-align: center;
    text-decoration: none;
    justify-content: center;
}

.relation p {
    text-align: center;
}