.relationContainer {
    padding: 0;
}

.relationListContainer {
    border: solid 1px black;
    height: 5rem;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    background-color: var(--section-background-primary);
}

/* Optional: style the scrollbar for better visibility */
.relationListContainer::-webkit-scrollbar {
    width: 12px;
  }
  
  .relationListContainer::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  
  .relationListContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }


.relationList {
    list-style: none;
    padding: 0.25rem;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.relationList li {
    padding: 0 0.5rem 0 0.5rem;
    background-color: var(--section-background-secondary);
    color: var(--text-dark-primary);
}

/*
.relationList li > div {
    text-align: end;
}
*/

.relationList a {
    text-decoration: none;
}

.relation {
    text-align: center;
    text-decoration: none;
    justify-content: center;
}

.relation p {
    text-align: center;
}


.headerBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'left mid right';
}

.title {
    grid-area: mid;
    text-align: center;
    margin: 1rem 0 0.25rem 0;
}

.addButton {
    grid-area: right;
    align-self: end;
    justify-self: start;
    margin: 1rem 0 0.25rem 0;
    background-color: lightgreen;
}


.listItem {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 'left right';
    column-gap: 0.5rem;
}

.removeButton {
    background-color: lightcoral;
    border: 1px solid grey;
}