.relationContainer {
    padding: 0;
}

.relationContainer > h2 {
    text-align: center;
    margin: 1rem 0 0.25rem 0;
}

.relationListContainer {
    border: solid 1px black;
    height: 5rem;
}

.relationList {
    list-style: none;
    padding: 0.25rem;
    margin: 0;
    text-align: center;
}

.relationList li {
    padding: 0 0.5rem 0 0.5rem;
    margin-bottom: 0.5rem;
    background-color: lightgrey;
}