.container {
    display: flex;
    gap: 1rem
}

.portrait {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    display: flex;
    flex: none;
    border-radius: 25%;
    overflow: hidden;
}

.portrait img {
    width: 100%;
}