name: Deploy Frontend

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: ./client
        run: |
          npm ci   # uses the client/package-lock.json

      - name: Build
        working-directory: ./client
        run: |
          npm install
          npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: client/build
      
      - name: Deploy to Github Pages
        uses: actions/deploy-pages@v1
