name: Deploy Frontend

on:
  push:
    branches:
      - main

env:
  REACT_APP_API_URL: ${{ secrets.REACT_APP_API_URL }}
  REACT_APP_AUTH0_CLIENT_ID: ${{ secrets.REACT_APP_AUTH0_CLIENT_ID }}
  REACT_APP_AUTH0_DOMAIN: ${{ secrets.REACT_APP_AUTH0_DOMAIN }}
  REACT_APP_PUBLIC_URL: ${{ vars.REACT_APP_PUBLIC_URL }}

permissions:
  contents: read
  id-token: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment: github-pages
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: ./client
        run: |
          npm ci   # uses the client/package-lock.json
      
      - name: Log Env Variable
        working-directory: ./client
        run: |
          echo "REACT_APP_API_URL=$REACT_APP_API_URL"
          echo "REACT_APP_API_URL=${{vars.REACT_APP_API_URL}}"
          echo "REACT_APP_AUTH0_CLIENT_ID=$REACT_APP_AUTH0_CLIENT_ID"
          echo "REACT_APP_AUTH0_CLIENT_ID=${{ secrets.REACT_APP_AUTH0_CLIENT_ID }}"
          echo "REACT_APP_AUTH0_DOMAIN=$REACT_APP_AUTH0_DOMAIN"
          echo "REACT_APP_AUTH0_DOMAIN=${{ secrets.REACT_APP_AUTH0_DOMAIN }}"
          echo "PUBLIC_URL=$PUBLIC_URL"
          echo "PUBLIC_URL=${{ vars.PUBLIC_URL }}"
      
      - name: Build
        working-directory: ./client
        run: |
          npm install
          npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: client/build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: 
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to Github Pages
        id: deployment
        uses: actions/deploy-pages@v4
