.container {
    background-color: rgba(50, 50, 50, 0.75);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    pointer-events: all;
}

.content {
    background-color: white;
    min-width: 35rem;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    border-radius: 0.75rem
}

.header {
    /*background-color: pink;*/
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

.header > h3 {
    margin: 0;
    padding: 0;
    display: inline;
}

.closeButton{
    align-content: center;
    float: right;
    display: inline;
}

.closeButton:hover {
    cursor: pointer;
}

.body {
    /*background-color: orange;*/
}